h1 small {
  margin-left: 1em;
  font-size: 1rem;
}

h1 small > a {
  color: gray;
}

#errors {
  background-color: #ffcdd2;
  border-radius: 1em;
  padding: 1em;
  color: #b71c1c;
}

#qrData {
  padding: 1em;
  text-align: center;
}

#videoDevices {
  padding: 0;
}

#videoDevices > li {
  list-style: none;
}
